export PYTHONPATH=$(pwd)/api
export SERVER_PY_PORT=5000
export FRONTEND_PORT=5174
export APP_DOCKER_NAME=gridlabd
export INPUTS_FOLDER=/app/inputs
export INPUTS_FOLDER_NATIVE=data/inputs
export OUTPUTS_FOLDER=/app/outputs
export OUTPUTS_FOLDER_NATIVE=data/outputs
export SERVER_RAY_PORT=6382
export GRAFANA_PORT=4001
export SERVER_RAY_METRICS_EXPORT_PORT=6383
export SERVER_RAY_DASHBOARD_PORT=8266
export PROMETHEUS_PORT=9090
export LOCAL_HOST=0.0.0.0
export HEAD_HOST=$(ip -4 addr show eth0 2>/dev/null | grep -oP '(?<=inet\s)\d+(\.\d+){3}' || echo "0.0.0.0")

export SERVER_RAY_ADDRESS=${HEAD_HOST}:${SERVER_RAY_PORT}


# Host info
export CURRENT_HOST=$(hostname -I | awk '{print $1}')
export CURRENT_CPUS=$(nproc)
export CURRENT_RAMS=$(free -m | awk '/^Mem:/{print $2}')
export CURRENT_GPUS=$(which nvidia-smi >/dev/null 2>&1 && nvidia-smi -L | wc -l || echo 0)

# Fractions
export CPU_FRACTION=1.0
export RAM_FRACTION=1.0
export GPU_FRACTION=1.0

# Derived allocations (ensure at least 1 if >0)
export ALLOC_CPUS=$(echo "$CURRENT_CPUS * $CPU_FRACTION" | bc | awk '{print ($1<1?1:int($1))}')
export ALLOC_RAMS=$(echo "$CURRENT_RAMS * $RAM_FRACTION * 1024 * 1024" | bc | awk '{print int($1)}')
export ALLOC_GPUS=$(echo "$CURRENT_GPUS * $GPU_FRACTION" | bc | awk '{print ($1<1?1:int($1))}')
