export PYTHONPATH=$(pwd)/src
export LD_LIBRARY_PATH=/usr/lib/R/lib
export GRB_LICENSE_FILE=$HOME/gurobi_license/gurobi.lic
export BACKEND_GRIDLABD_PORT=4600
export GRIDLABD_DIR_NATIVE=.cache/gridlabd
export GRIDLABD_DIR_DOCKER=/app/models