export SERVER_PORT=5000
export SERVER_PORT_NATIVE=5001
export APP_DOCKER_NAME=backend-gridlabd
export INPUTS_FOLDER=/app/inputs
export INPUTS_FOLDER_NATIVE=data/inputs
export UPLOADS_FOLDER=/app/uploads
export UPLOADS_FOLDER_NATIVE=data/uploads
export OUTPUTS_FOLDER=/app/outputs
export OUTPUTS_FOLDER_NATIVE=data/outputs
