services:
  fg-gridlabd:
    build:
      context: .
      dockerfile: api/Dockerfile.gridlabd
    container_name: fg-gridlabd
    environment:
      - INPUTS_FOLDER=${INPUTS_FOLDER}
      - OUTPUTS_FOLDER=${OUTPUTS_FOLDER}
      - INPUTS_FOLDER_NATIVE=${INPUTS_FOLDER_NATIVE}
      - OUTPUTS_FOLDER_NATIVE=${OUTPUTS_FOLDER_NATIVE}
    volumes:
      - ./${INPUTS_FOLDER_NATIVE}:${INPUTS_FOLDER}
      - ./${OUTPUTS_FOLDER_NATIVE}:${OUTPUTS_FOLDER}
    user: root
  fg-py-api:
    build:
      context: .
      dockerfile: api/Dockerfile.py
      ssh:
        - default
    container_name: fg-py-api
    network_mode: host
    environment:
      - SERVER_RAY_ADDRESS=${HEAD_HOST}:${SERVER_RAY_PORT}
      - SERVER_PY_PORT=${SERVER_PY_PORT}
    ports:
      - "${SERVER_PY_PORT}:${SERVER_PY_PORT}"
    volumes:
      - ./spill:/tmp/spill
      - ./ray:/tmp/ray
      - ./.cache:/app/.cache:rw
      - ./data:/app/data:rw
    stdin_open: true
    tty: true
    restart: unless-stopped
  fg-grafana:
    build:
      context: ./grafana
      dockerfile: Dockerfile
    container_name: fg-grafana
    network_mode: host
    environment:
      - GF_SERVER_HTTP_PORT=${GRAFANA_PORT}
      - PROMETHEUS_PORT=${PROMETHEUS_PORT}
    restart: unless-stopped
  fg-ray-head:
    build:
      context: .
      dockerfile: api/Dockerfile.ray
      ssh:
        - default
    container_name: fg-ray-head
    network_mode: host
    environment:
      - SERVER_RAY_PORT=${SERVER_RAY_PORT}
      - SERVER_RAY_DASHBOARD_PORT=${SERVER_RAY_DASHBOARD_PORT}
      - SERVER_RAY_METRICS_EXPORT_PORT=${SERVER_RAY_METRICS_EXPORT_PORT}
      - ALLOC_CPUS=${ALLOC_CPUS}
      - ALLOC_GPUS=${ALLOC_GPUS}
      - ALLOC_RAMS=${ALLOC_RAMS}
      - GRAFANA_PORT=${GRAFANA_PORT}
      - LOCAL_HOST=${LOCAL_HOST}
      - RAY_GRAFANA_HOST=http://${LOCAL_HOST}:${GRAFANA_PORT}
      - RAY_GRAFANA_IFRAME_HOST=http://${LOCAL_HOST}:${GRAFANA_PORT}
      - RAY_GRAFANA_ORG_ID=1
      - RAY_PROMETHEUS_HOST=http://${LOCAL_HOST}:${PROMETHEUS_PORT}
      - RAY_PROMETHEUS_NAME=Prometheus
    ports:
      - "${SERVER_RAY_PORT}:${SERVER_RAY_PORT}"
      - "${SERVER_RAY_DASHBOARD_PORT}:${SERVER_RAY_DASHBOARD_PORT}"
      - "${SERVER_RAY_METRICS_EXPORT_PORT}:${SERVER_RAY_METRICS_EXPORT_PORT}"
      - "${PROMETHEUS_PORT}:${PROMETHEUS_PORT}" # Prometheus
    volumes:
      - ./ray:/tmp/ray
      - ./spill:/tmp/spill
      - ./.cache:/app/.cache:rw
      - ./data:/app/data:rw
    command: /app/start-ray-head.sh
    restart: unless-stopped
    depends_on:
      - fg-grafana
