networks:
  formidable-grid-network:
    driver: bridge

services:
  backend-gridlabd:
    build:
      context: .
      dockerfile: backend-gridlabd/Dockerfile
    container_name: backend-gridlabd
    environment:
      - SERVER_HOST=${SERVER_HOST}
      - SERVER_PORT=${BACKEND_GRIDLABD_PORT}
      - GRIDLABD_DIR_DOCKER=${GRIDLABD_DIR_DOCKER}
      - GRIDLABD_DIR_NATIVE=${GRIDLABD_DIR_NATIVE}
      - CACHE_FOLDER=/app/cache
      - RESULTS_FOLDER=/app/results
    volumes:
      - ./${GRIDLABD_DIR_NATIVE}:${GRIDLABD_DIR_DOCKER}
      - simulation-cache:/app/cache
      - simulation-results:/app/results
    ports:
      - ${BACKEND_GRIDLABD_PORT}:${BACKEND_GRIDLABD_PORT}
    networks:
      - formidable-grid-network
    user: root
  
  frontend-glmplotter:
    build:
      context: .
      dockerfile: frontend-glmplotter/Dockerfile
    container_name: frontend-glmplotter
    environment:
      - SERVER_HOST=${SERVER_HOST}
      - SERVER_PORT=${FRONTEND_GLMPLOTTER_PORT}
      - BACKEND_GRIDLABD_PORT=${BACKEND_GRIDLABD_PORT}
      - BACKEND_GRIDLABD_HOST=backend-gridlabd
      - CACHE_FOLDER=/app/cache
      - UPLOAD_FOLDER=/app/uploads
    volumes:
      - simulation-cache:/app/cache
      - simulation-results:/app/results
      - simulation-uploads:/app/uploads
    ports:
      - "${FRONTEND_GLMPLOTTER_PORT}:${FRONTEND_GLMPLOTTER_PORT}"
    networks:
      - formidable-grid-network
    user: root
    depends_on:
      - backend-gridlabd

  frontend-webgme:
    build:
      context: .
      dockerfile: frontend-webgme/Dockerfile
    container_name: frontend-webgme
    environment:
      - SERVER_PORT=${FRONTEND_WEBGME_PORT}
      - MONGO_URL=${MONGO_URL}
    ports:
      - "${FRONTEND_WEBGME_PORT}:${FRONTEND_WEBGME_PORT}"
    networks:
      - formidable-grid-network
    depends_on:
      - mongo

  mongo:
    image: mongo:6.0
    container_name: mongo
    restart: always
    ports:
      - "${MONGO_PORT}:27017"
    environment:
      MONGO_INITDB_DATABASE: gridlabd
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: rootpass
    volumes:
      - mongo-data:/data/db
      - ./mongo-init:/docker-entrypoint-initdb.d
    networks:
      - formidable-grid-network
      
volumes:
  mongo-data:
  simulation-cache:
  simulation-results:
  simulation-uploads: