services:
  arras-energy:
    build:
      context: ./arras-energy
    container_name: arras-energy
    volumes:
      - ./arras-energy/models:/app/models
    environment:
      - SERVER_PORT=${ARRAS_ENERGY_PORT:-4500}
    ports:
      - "${ARRAS_ENERGY_PORT:-4500}:4500"
    stdin_open: true
    tty: true
