services:
  gridlabd:
    build:
      context: .
      dockerfile: api/Dockerfile
    container_name: gridlabd
    environment:
      - INPUTS_FOLDER=${INPUTS_FOLDER}
      - OUTPUTS_FOLDER=${OUTPUTS_FOLDER}
      - INPUTS_FOLDER_NATIVE=${INPUTS_FOLDER_NATIVE}
      - OUTPUTS_FOLDER_NATIVE=${OUTPUTS_FOLDER_NATIVE}
    volumes:
      - ./${INPUTS_FOLDER_NATIVE}:${INPUTS_FOLDER}
      - ./${OUTPUTS_FOLDER_NATIVE}:${OUTPUTS_FOLDER}
    user: root

