services:
  backend-gridlabd:
    build:
      context: .
      dockerfile: Dockerfile.arras
    container_name: backend-gridlabd
    environment:
      - INPUTS_FOLDER=${INPUTS_FOLDER}
      - OUTPUTS_FOLDER=${OUTPUTS_FOLDER}
    volumes:
      - ./${INPUTS_FOLDER_NATIVE}:${INPUTS_FOLDER}
      - ./${OUTPUTS_FOLDER_NATIVE}:${OUTPUTS_FOLDER}
    user: root

  gridlabd:
    build:
      context: .
      dockerfile: gridlabd/Dockerfile
    container_name: gridlabd
    environment:
      - SERVER_PORT=${SERVER_PORT}
      - APP_DOCKER_NAME=${APP_DOCKER_NAME}
      - INPUTS_FOLDER=${INPUTS_FOLDER}
      - OUTPUTS_FOLDER=${OUTPUTS_FOLDER}
      - UPLOADS_FOLDER=${UPLOADS_FOLDER}
      - DEV=false
    volumes:
      - ./${UPLOADS_FOLDER_NATIVE}:${UPLOADS_FOLDER}
      - ./${INPUTS_FOLDER_NATIVE}:${INPUTS_FOLDER}
      - ./${OUTPUTS_FOLDER_NATIVE}:${OUTPUTS_FOLDER}
    ports:
      - "${SERVER_PORT}:${SERVER_PORT}"
    user: root
    depends_on:
      - backend-gridlabd
