services:
  backend-arras:
    build:
      context: .
      dockerfile: backend-arras/Dockerfile
    container_name: backend-arras
    environment:
      - SERVER_PORT=${BACKEND_ARRAS_PORT}
      - GRIDLABD_DIR_DOCKER=${GRIDLABD_DIR_DOCKER}
      - GRIDLABD_DIR_NATIVE=${GRIDLABD_DIR_NATIVE}
    volumes:
      - ./${GRIDLABD_DIR_NATIVE}:${GRIDLABD_DIR_DOCKER}
    ports:
      - ${BACKEND_ARRAS_PORT}:${BACKEND_ARRAS_PORT}
    stdin_open: true
    tty: true
