services:
  backend-gridlabd:
    build:
      context: .
      dockerfile: backend-gridlabd/Dockerfile
    container_name: backend-gridlabd
    environment:
      - SERVER_PORT=${BACKEND_GRIDLABD_PORT}
      - MODELS_FOLDER=${MODELS_FOLDER}
    volumes:
      - ${MODELS_FOLDER_NATIVE}:${MODELS_FOLDER}
    ports:
      - "127.0.0.1:${BACKEND_GRIDLABD_PORT}:${BACKEND_GRIDLABD_PORT}"
    user: root
  
  frontend-gridlabd:
    build:
      context: .
      dockerfile: frontend-gridlabd/Dockerfile
    container_name: frontend-gridlabd
    environment:
      - SERVER_PORT=${FRONTEND_GRIDLABD_PORT}
      - BACKEND_GRIDLABD_PORT=${BACKEND_GRIDLABD_PORT}
      - FRONTEND_GRIDLABD_NATIVE_PORT=${FRONTEND_GRIDLABD_NATIVE_PORT}
      - MODELS_FOLDER=${MODELS_FOLDER}
      - UPLOADS_FOLDER=${UPLOADS_FOLDER}
    volumes:
      - ${UPLOADS_FOLDER_NATIVE}:${UPLOADS_FOLDER}
      - ${MODELS_FOLDER_NATIVE}:${MODELS_FOLDER}
    ports:
      - "${FRONTEND_GRIDLABD_PORT}:${FRONTEND_GRIDLABD_PORT}"
    user: root
    depends_on:
      - backend-gridlabd
