services:
  backend-arras:
    build:
      context: ./backend-arras
    container_name: backend-arras
    volumes:
      - ./.cache/arras:/app/models
    environment:
      - SERVER_PORT=${BACKEND_ARRAS_PORT:-4500}
    ports:
      - "${BACKEND_ARRAS_PORT:-4500}:4500"
    stdin_open: true
    tty: true
