services:
  fg-py-api:
    build:
      context: ..
      dockerfile: dockerfiles/Dockerfile.python
      ssh:
        - default
    container_name: fg-py-api
    network_mode: host
    environment:
      - SERVER_RAY_ADDRESS=${HEAD_HOST}:${SERVER_RAY_PORT}
      - SERVER_PY_PORT=${SERVER_PY_PORT}
      - SERVER_RAY_PORT=${SERVER_RAY_PORT}
      - SERVER_RAY_DASHBOARD_PORT=${SERVER_RAY_DASHBOARD_PORT}
      - SERVER_RAY_METRICS_EXPORT_PORT=${SERVER_RAY_METRICS_EXPORT_PORT}
      - ALLOC_CPUS=${ALLOC_CPUS}
      - ALLOC_GPUS=${ALLOC_GPUS}
      - ALLOC_RAMS=${ALLOC_RAMS}
      - GRAFANA_PORT=${GRAFANA_PORT}
      - LOCAL_HOST=${LOCAL_HOST}
      - RAY_GRAFANA_HOST=http://${LOCAL_HOST}:${GRAFANA_PORT}
      - RAY_GRAFANA_IFRAME_HOST=http://${LOCAL_HOST}:${GRAFANA_PORT}
      - RAY_GRAFANA_ORG_ID=1
      - RAY_PROMETHEUS_HOST=http://${LOCAL_HOST}:${PROMETHEUS_PORT}
      - RAY_PROMETHEUS_NAME=Prometheus
    ports:
      - "${SERVER_PY_PORT}:${SERVER_PY_PORT}"
      - "${SERVER_RAY_PORT}:${SERVER_RAY_PORT}"
      - "${SERVER_RAY_DASHBOARD_PORT}:${SERVER_RAY_DASHBOARD_PORT}"
      - "${SERVER_RAY_METRICS_EXPORT_PORT}:${SERVER_RAY_METRICS_EXPORT_PORT}"
      - "${PROMETHEUS_PORT}:${PROMETHEUS_PORT}" # Prometheus
    volumes:
      - ./spill:/tmp/spill
      - ./ray:/tmp/ray
      - ./.cache:/app/.cache:rw
      - ./data:/app/data:rw
      - ../io:/app/io
      - ../src:/app/src:rw
      - ../tests:/app/tests:rw
    stdin_open: true
    tty: true
    restart: unless-stopped
    depends_on:
      - fg-grafana
    cap_add:
      - SYS_PTRACE # allow process tracing
    security_opt:
      - seccomp:unconfined # disable default seccomp restrictions
  fg-grafana:
    build:
      context: ..
      dockerfile: dockerfiles/Dockerfile.grafana
    container_name: fg-grafana
    network_mode: host
    environment:
      - GF_SERVER_HTTP_PORT=${GRAFANA_PORT}
      - PROMETHEUS_PORT=${PROMETHEUS_PORT}
    restart: unless-stopped
